{% import_yaml 'composer/defaults.yaml' as defaults %}
{% import_yaml 'composer/osfamily_map.yaml' as osfamily_map %}

{# Merge Pillar items with defaults #}
{% set composer = salt['pillar.get'](
    'composer',
    default=defaults.composer,
    merge=true,
) %}

{# Make sure EDC, MS and tools dicts always exist #}
{% do composer.update({
    'edc': composer.edc|default({}, true),
    'microservices': composer.microservices|default({}, true),
    'tools': composer.tools|default(defaults.composer.tools, true),
}) %}

{# Install our module to gather data #}
{% if salt['composer.inspect']|default(none) is not callable %}
    {% do salt['saltutil.sync_modules']() %}
{% endif %}

{# Try to inspect local installation #}
{% do composer.update({
    'local': salt['composer.inspect'](versions=true, full=true)['composer'],
}) %}

{# Make sure we have finished bootstrapping when some packages were
   already installed. #}
{% set local_packages = composer.local['packages']
                        + composer.local.edc['packages']
                        + composer.local.microservices['packages'] %}

{% do composer.update({
    'bootstrap': local_packages == [] or
                 salt['grains.get']('composer:bootstrap', false),
}) %}

{# Read envrionment variables #}
{% do composer.update({
    'base_url': salt['environ.get']('COMPOSER_REPOSITORY', composer['base_url']),
    'release':  salt['environ.get']('COMPOSER_RELEASE', composer['release'])|string(),
}) %}

{# Detect release upgrades or repo changes #}
{% do composer.update({
    'upgrade': not composer['bootstrap'] and (
               composer['release'] == 'latest' or
               composer['release'] != composer.local['release'] or
               composer['base_url'] != composer.local['base_url']
               ),
}) %}

{% if not composer['bootstrap'] and not composer['enforce'] %}
    {# Bypass state enforcement: work only with locally installed and
       running services. #}
    {% if not composer['upgrade'] %}
        {# Keep core packages and services only within minor (by SemVer)
           version number, i.e. release cycle. #}
        {% do composer.update({
            'packages': composer.local['packages'],
            'services': composer.local['services'],
        }) %}
    {% endif %}
    {# EDC (connectors) are preserved between releases #}
    {% do composer.edc.update({
        'packages': composer.local.edc['packages']
    }) %}
{% endif %}

{# Read envrionment variables #}
{% do composer.update({
    'version':  salt['environ.get']('COMPOSER_VERSION', composer.get('version')),
    'packages': salt['environ.get']('COMPOSER_PACKAGES', composer.get('packages')),
    'services': salt['environ.get']('COMPOSER_SERVICES', composer.get('services')),
}) %}

{# Merge in OS specific defaults #}
{% set composer = salt['grains.filter_by'](
    osfamily_map,
    grain='os_family',
    merge=composer,
) %}

{# Read EDC environment variables #}
{% do composer.edc.update({
    'packages': salt['environ.get']('COMPOSER_EDC_PACKAGES', composer.edc.get('packages')),
    'version':  salt['environ.get']('COMPOSER_EDC_VERSION', composer.edc.get('version')),
}) %}

{# Fix short names for Composer sevices and connectors by appending
   approptiate prefix to each package and service defined via environment
   variable. #}
{% for group, prefix in (
        (none, 'composer'),
        ('edc', 'composer-edc'),
        ('microservices', 'composer'),
        ('tools', 'composer')
) %}
    {% for item in ('packages', 'services') %}
        {% set map = composer.get(group, composer) %}
        {% set value = map.get(item) %}
        {% set items = value %}
        {% if value is string %}
            {% set items = value.split(',') %}
        {% elif not value or value is not sequence %}
            {% set items = [] %}
        {% endif %}
        {% set srvs = [] %}
        {% for srv in items %}
            {% if srv and not srv.startswith(prefix) %}
                {% do srvs.append(prefix ~ '-' ~ srv) %}
            {% elif srv %}
                {% do srvs.append(srv) %}
            {% endif %}
        {% endfor %}
        {% set param = {item: srvs} %}
        {% if group %}
            {% do composer[group].update(param) %}
        {% else %}
            {% do composer.update(param) %}
        {% endif %}
    {% endfor %}
{% endfor %}

{# Create an ordered list of all packages to iterate in start/stop states #}
{% set packages = composer.microservices['packages']
                  + composer.edc['packages']
                  + composer['packages'] %}

{# Start all configured service packages.
   The keyword ``composer-all`` will be created from ``all`` by the loop above. #}
{% if 'composer-all' in composer['services'] %}
    {% do composer.update({'services': packages}) %}
{% endif %}

{% for params in ('backup', 'restore') %}
    {% if composer[params] is not mapping %}
        {# Reload defaults if nested dictionary with parameters is messy #}
        {% do composer.update({params: defaults.composer[params]}) %}
    {% endif %}
{% endfor %}

{# Process properties #}
{% for service, config in composer.config|default({}, true)|dictsort() %}
    {% if config.properties|default({}, true) and not config['merge']|default(true) %}
        {# Drop default properties if we don't want to merge them #}
        {% set properties = salt['pillar.get']('composer:config:' ~ service ~ ':properties', {}) %}
        {% do composer.config[service].update({'properties': properties}) %}
    {% endif %}

    {% if config['update']|default(false) %}
        {% set local_config = composer.local.config[service]|default({}, true) %}
        {% set local_properties = local_config.properties|default({}, true) %}
        {% set properties = composer.config[service].properties|default({}, true) %}
        {% if config['discard']|default(true) %}
            {# Read local properties and update them with provided values #}
            {% do local_properties.update(properties) %}
            {% do composer.config[service].update({'properties': local_properties}) %}
        {% else %}
            {# Filter out default or Pillar provided properties and only add new ones #}
            {% do properties.update(local_properties) %}
            {% do composer.config[service].update({'properties': properties}) %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Configure connection to Consul via environment variable #}
{% set consul_addr = salt['environ.get']('COMPOSER_CONSUL_ADDRESS') %}
{% if consul_addr %}
    {% if ':' not in consul_addr %}
        {% set consul_addr = consul_addr ~ ':' %}
    {% endif %}
    {% set consul_host, consul_port = consul_addr.split(':') %}
    {% set props = {'discovery.registry.host': consul_host} %}
    {% if consul_port %}
        {% do props.update({'discovery.registry.port': consul_port}) %}
    {% endif %}
    {% set configs = {} %}
    {% for service in composer['services'] %}
        {% if service == 'composer' %}
            {% set file = service ~ '.properties' %}
        {% else %}
            {% set file = service|replace('composer-', '', 1) ~ '.properties' %}
        {% endif %}
        {% if service != 'composer-consul' %}
            {% do configs.update({
                service: {
                    'path': salt['file.join'](composer.config_dir, file),
                    'properties': props,
                }
            }) %}
        {% endif %}
    {% endfor %}
    {% do composer.config.update(salt['defaults.merge'](composer.config, configs)) %}
{% endif %}

{# Read global PostgreSQL configuration for Salt #}
{% set pg_host = salt['config.option']('postgres.host') %}
{% set pg_port = salt['config.option']('postgres.port', 5432) %}
{# These are administrative credentials #}
{% set pg_user = salt['config.option']('postgres.user', 'postgres') %}
{% set pg_pass = salt['config.option']('postgres.pass') %}
{% set pg_db = salt['config.option']('postgres.maintenance_db', 'postgres') %}

{# Hard-code of some PostgreSQL authentication property names
   and expose administrative credentials for running raw ``psql`` command.
   Order of properties should be preserved (URL/username/password).
#}
{% set postgres = {
    'connection_uri': '',
    'composer_properties': (
        (
            'spring.datasource.url',
            'spring.datasource.username',
            'spring.datasource.password'
        ),
        (
            'keyset.destination.params.jdbc_url',
            'keyset.destination.params.user_name',
            'keyset.destination.params.password',
        ),
        (
            'upload.destination.params.jdbc_url',
            'upload.destination.params.user_name',
            'upload.destination.params.password'
        ),
    ),
    'composer-query-engine_properties': (
        (
            'spring.qe.datasource.jdbcUrl',
            'spring.qe.datasource.username',
            'spring.qe.datasource.password'
        ),
    ),
    'user': pg_user,
    'password': pg_pass,
} %}

{# Read PostgreSQL connection details for the Composer services
   from the environment variables. #}
{% set pg_host = salt['environ.get']('COMPOSER_POSTGRES_HOST', pg_host) %}
{% set pg_port = salt['environ.get']('COMPOSER_POSTGRES_PORT', pg_port) %}
{% set zd_user = salt['environ.get']('COMPOSER_POSTGRES_USER') %}
{% set zd_pass = salt['environ.get']('COMPOSER_POSTGRES_PASS') %}

{# This is used to manage databases during metadata restoration.
   Automated restoration to remote PostgreSQL host is supported only when
   the ``postgres.pass`` configuration option or Pillar value exists. #}
{% if pg_host %}
    {% do postgres.update({
        'connection_uri': 'postgresql://%s:%s/%s'|format(pg_host, pg_port, pg_db),
    }) %}
{% endif %}

{# Iterating over services postgres related properties #}
{% for service in postgres %}
    {% if service.endswith('_properties') %}
        {% set srv_name = service|replace('_properties', '') %}
        {% for i in postgres[service] %}
            {% if pg_host %}
                {% set db = composer.config[srv_name].properties[i[0]].rsplit('/', 1)[1] %}
                {% do composer.config[srv_name].properties.update({
                    i[0]: 'jdbc:postgresql://%s:%s/%s'|format(pg_host, pg_port, db),
                }) %}
            {% endif %}

            {% if zd_user %}
                {% do composer.config[srv_name].properties.update({i[1]: zd_user}) %}
            {% endif %}

            {% if zd_pass %}
                {% do composer.config[srv_name].properties.update({i[2]: zd_pass}) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{# Detect if we are using real init or building some image #}
{% set init_available = grains['init'] != 'unknown' %}
